<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mealplanner2new">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.GetStartedActivity"
            android:label="Health Botics"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.LoginActivity"
            android:label="MealPlanner 2"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Views.MyProfileActivity"
            android:label="My Profile"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ChooseDashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Views.DietMainNavigationActivity"
            android:label="Diet Manager"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.AboutDevActivity"
            android:label="About Developers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.AddTodayMealActivity"
            android:label="Add Today&apos;s Meal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.SelectIngredItemActivity"
            android:label="Select Ingredient"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.SelectRecipeActivity"
            android:label="Select Recipe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TodayMenuActivity"
            android:label="Today&apos;s Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.TodayMenuDetailsActivity"
            android:label="Meal Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.MealHistoryActivity"
            android:label="Meal History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.AddRecipeActivity"
            android:label="Recipes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.AddIngredientActivity"
            android:label="Ingredients"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.MealTimesActivity"
            android:label="Meal Times"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.AddNewMealTimeActivity"
            android:label="Add New"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.ExNavigationActivity"
            android:label="@string/title_activity_ex_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Dash2Theme" />
        <activity
            android:name=".Views.ShowExercisesActivity"
            android:label="Exercises"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExerciseDetailActivity"
            android:label="Workout Details"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.StartExerciseActivity"
            android:label="@string/title_activity_start_exercise"
            android:screenOrientation="portrait"
            android:theme="@style/StartExTheme" />
        <activity
            android:name=".Views.ExHelpActivity"
            android:label="Help"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExQueItemActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExHistoryActivity"
            android:label="Exercise History"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ImageGalleryActivity"
            android:label="Image Gallery"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.FinalImageUploadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartExTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.admin.mealplanner2new.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>

        <service
            android:name=".Service.MyJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".Views.YogaSectionActivity"
            android:label="Yoga Section"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.YogaListActivity"
            android:label="Yoga List"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.StartYogaActivity"
            android:label="Start Yoga"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.YogaItemDetailActivity"
            android:label="Yoga Details"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExSectionActivity"
            android:label="Exercise Section"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExCatListActivity"
            android:label="Exercise Categories"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExListOnCatActivity"
            android:label="Exercise List"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
        <activity
            android:name=".Views.ExDetailsActivity"
            android:label="Exercise Details"
            android:screenOrientation="portrait"
            android:theme="@style/ExTheme" />
    </application>

</manifest>